@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Duy Tan university<br />
    Hai Chau, Da Nang<br />
    <abbr title="Phone">P:</abbr>
    880.018.922
</address>

<address>
    <strong>Support:</strong>   <a href="#">meolun@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="#">lulu@gmail.com</a>
</address>